# Ignore build files, but keep the directory for structure
build/*
!build/.gitkeep

# Ignore Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore virtual environment
venv/

# Ignore IDE/editor-specific files
.vscode/
.idea/

# Ignore system files (e.g., MacOS Finder, Windows thumbnails)
.DS_Store
Thumbs.db

# If using any temporary files
*.log
*.tmp

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Vim swap files
*.swp
